<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
<h2>User Information</h2>
<p>Welcome, <span th:text="${currentUser.name}"></span>!</p>
<p>Username: <span th:text="${currentUser.username}"></span></p>
<p>Age: <span th:text="${currentUser.age}"></span></p>
<p>Role: <span th:text="${currentUser.userRoles}"></span></p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout">
</form>
</body>
</html>